@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "tailwindcss";

body {
  background-color: #17181C; /* bg-deepDark */
  font-family: 'Inter', sans-serif; /* font-inter */
  color: #f3f4f6; /* text-gray-100 */
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* gap-2 */
  border-radius: 0.375rem; /* rounded-md */
  background-color: #27292F; /* bg-lighterDark */
  padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: white; /* text-white */
  transition: background-color 0.2s;
}
.btn-primary:hover {
  background-color: #17181C; /* hover:bg-deepDark */
}
@media (min-width: 1024px) {
  .btn-primary {
    font-size: 1.125rem; /* lg:text-lg */
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--lighterDark);
  padding: 0.375rem; /* p-1.5 */
  font-weight: 500;
  color: white;
  transition: background-color 0.2s;
}
.icon-btn:hover {
  background-color: #17181C;
}

.card {
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid #3F3F3F;
  background-color: #1E1F24;
  padding: 1rem; /* px-4 py-4 */
}
@media (min-width: 1024px) {
  .card {
    padding: 1.25rem 1.75rem; /* lg:px-7 lg:py-5 */
  }
}

.form-control {
  margin-bottom: 1.5rem; /* mb-6 */
}
.form-control > * + * {
  margin-top: 0.625rem; /* space-y-2.5 */
}

.auth-label {
  line-height: 138%;
}
@media (min-width: 1024px) {
  .auth-label {
    font-size: 1.125rem; /* lg:text-lg */
  }
}
.auth-inputs{
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(204, 204, 204, 0.14);
  padding: 0.375rem;
}

.auth-input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(204, 204, 204, 0.14);
  background-color: #27292F;
  padding: 0.375rem; /* p-1.5 */
}
.auth-button {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(204, 204, 204, 0.14);
  padding: 0.375rem; /* p-1.5 */
}
.auth-input:focus {
  outline: none;
}
@media (min-width: 1024px) {
  .auth-input {
    padding: 0.75rem; /* lg:p-3 */
  }
}

.post-avater {
  max-width: 2.5rem; /* max-w-10 */
  max-height: 2.5rem; /* max-h-10 */
  border-radius: 9999px; /* rounded-full */
}
@media (min-width: 1024px) {
  .post-avater {
    max-width: 58px;
    max-height: 58px;
  }
}

/* Action Modal */
.action-modal-container {
  position: absolute;
  right: 100%; /* right-full */
  top: 1.5rem; /* top-6 */
  min-width: 200px;
  border-radius: 0.375rem;
  border: 1px solid #3F3F3F;
  background-color: #17181C;
  padding: 0.5rem 0; /* py-2 */
  display: flex;
  flex-direction: column;
}
.action-modal-container > button {
  padding: 0.5rem 0; /* [&>button]:py-2 */
}
.action-modal-container > * + * {
  border-top: 1px solid #3F3F3F; /* divide-y divide-[#3F3F3F] */
}

.action-menu-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
  color: #f3f4f6; /* text-gray-100 */
  transition: all 0.2s;
}
